
<div class="bigHeader">

    
        <div style="width: 20%;"><app-branding></app-branding></div>
        <div class="search-bar">
            <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search"
                (keyup.enter)="navigateWithQuery()" />
            <button type="button" (click)="navigateWithQuery()">Search</button>
        </div>

        <app-header [cart]="cart"></app-header>
    

</div>


<div class="content">

<div class="order-card">
    <div class="card-header">
        <h4>Your Order</h4>
    </div>
    <div class="card-body">
        <div class="order-container">
            <div *ngIf="cart">
                <div class="order-item" *ngFor="let item of cart.items">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="book-image" [src]="'http://localhost:8080/api/v1/book/image/' + item.book.id" />
                        </div>
                        <div class="col-md-7">
                            <div class="order-details">
                                <h5 class="card-title">{{ item.book.name }}</h5>
                                <p class="card-text">Price: {{ item.book.price | number:'1.2-2' }} TND</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p class="card-text">Quantity: {{ item.quantity }}</p>
                        </div>
                    </div>
                </div>
                <div class="total-price-container">
                    <div class="total-price">Total Price: {{ cart.totalPrice | number:'1.2-2' }} TND</div>
                    <button class="custom-btn btn-15"(click)="order()" [disabled]="cart.totalPrice === 0">Payment</button>
                  </div>
            </div>
        </div>
    </div>
   
</div>

</div>