.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
  }
  
  .logo-image {
    max-height: 100%;
    max-width: 100%;
  }
  

  .video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .blank-layout-container {
    /* Add your styles for the container here */
    /* For example, you can set the width and height to fill the viewport */
    width: 100%;
    height: 100vh;
  }