<app-branding></app-branding>

<div class="sidebar">
  <div class="filter-container">
    <h4>FILTERS</h4>
    <br>
    <button (click)="applyFilter()">Apply</button>
    <button (click)="resetFilters()">Reset Filters</button>
    <br>
    <br>
    <div class="filter-category">
      <h6>Category:</h6>
      <select id="category" [(ngModel)]="category" name="category">
        <option selected disabled>Select category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div class="filter-author">
      <h6>Author:</h6>
      <select id="category" [(ngModel)]="author" name="author">
        <option selected disabled>Select author</option>
        <option *ngFor="let author of authors" [value]="author">{{ author }}</option>
      </select>
    </div>

    <div class="filter-price">
      <h6>Price:</h6>
      <input type="number" min="0" max="500" [(ngModel)]="selectedPriceRange">
      <input type="range" min="0" max="500" [(ngModel)]="selectedPriceRange">
      <span><span id="price-value">{{ selectedPriceRange }}</span></span>
    </div>






    <div>
      <h6>Review:</h6>
      <div class="stars">
        <input class="star star-5" id="star-5" type="radio" name="star" [(ngModel)]="selectedStar" value="5" />
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" [(ngModel)]="selectedStar" value="4" />
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" [(ngModel)]="selectedStar" value="3" />
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" [(ngModel)]="selectedStar" value="2" />
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" [(ngModel)]="selectedStar" value="1" />
        <label class="star star-1" for="star-1"></label>
      </div>
    </div>
    


<br>


    





  </div>
</div>


<!--
    **SIDE BAR FILTERS**
<br>
<br>
<br>
category : radio button
<br>
price : slider +value
<br>
reviews : stars
<br>
author : radio button (with a max of 5 displayed and a plus button display more)
i want the thing under brandig to be in a container with rounded sides
 -->