

<br>
<br>
<br>

<div class="sidebar">
  <div class="filter-container">
    <h4 style="font-family: Plus Jakarta Sans;">FILTERS</h4>
    <br>
    <button class="custom-btn btn-2" (click)="applyFilter()">Apply</button>
    <button class="custom-btn btn-2 " (click)="resetFilters()">Reset </button>
    <br>
    <br>
    <div class="filter-category">
      <h6 style="font-family: Plus Jakarta Sans;">Category:</h6>
      <select id="category" [(ngModel)]="category" name="category">
        <option selected disabled>Select category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div class="filter-author">
      <h6 style="font-family: Plus Jakarta Sans;">Author:</h6>
      <select id="author" [(ngModel)]="author" name="author">
        <option selected disabled>Select author</option>
        <option *ngFor="let author of authors" [value]="author">{{ author }}</option>
      </select>
    </div>

    <div class="filter-price">
      <h6 style="font-family: Plus Jakarta Sans;">Price:</h6>
      <input type="number" min="0" max="500" [(ngModel)]="selectedPriceRange">
      <input type="range" min="0" max="500" [(ngModel)]="selectedPriceRange">
      <span></span>
    </div>

    
      <h6 style="font-family: Plus Jakarta Sans;">Review:</h6>
      <div class="stars">
        <input class="star star-5" id="star-5" type="radio" name="star" [(ngModel)]="selectedStar" value="5" />
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" [(ngModel)]="selectedStar" value="4" />
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" [(ngModel)]="selectedStar" value="3" />
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" [(ngModel)]="selectedStar" value="2" />
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" [(ngModel)]="selectedStar" value="1" />
        <label class="star star-1" for="star-1"></label>
      </div>
   
  </div>
</div>
