<app-header></app-header>

<div class="row">
  <div class="col-sm-6 col-lg-3" *ngFor="let book of books">
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <a [routerLink]="['/widgets/cards']">
        <img class="book-image" [src]="'http://localhost:8080/api/v1/book/image/'+book.id" />
      </a>
      <mat-card-content class="p-b-24 p-t-12 position-relative">
        <button mat-mini-fab color="primary" class="icon-30 cart-btn" matTooltip="Add to Cart">
          <i-tabler name="basket" class="icon-16"></i-tabler>
        </button>
        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
          {{ book.name }}
        </mat-card-title>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h6 class="mat-body-2 f-w-600">{{ book.price }} TND</h6>
            <span class="f-s-14 m-l-4 text-decoration-line-through">

            </span>
          </div>
          <div class="rating-stars">
            <ng-container *ngFor="let star of getStars(book.averageReview)">
              <i class="star-icon"
                [ngClass]="{'filled': star === 1, 'half-filled': star === 0.5, 'empty': star === 0}"></i>
            </ng-container>
          </div>




        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>