<div class="bigHeader">

  <div style="width: 20%;"><app-branding></app-branding></div>
  <div class="search-bar">
    <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search" (keyup.enter)="applySearch()" />
    <button type="button" (click)="applySearch()">Search</button>
  </div>
  <app-header></app-header>

</div>
<div class="carousel">

  <div class="carousel-container">
    <carousel>
      <slide *ngFor="let slide of carouselSlides">
        <img [src]="slide.image" alt="Carousel Slide" style="width: 100%; height: 700px;">
        <div class="carousel-caption">
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.description }}</p>
        </div>
      </slide>
    </carousel>
  </div>



</div>

<div class="body">


  <div class="sidebar" [ngClass]="{ 'hidden': sidebarHidden }">
    <div class="sidebar-content">
      <app-client-sidebar (filterApplied)="filter($event.category,$event.author, $event.priceRange,$event.rating)"
        (filtersReset)="resetFilters()"></app-client-sidebar>
    </div>


  </div>

  <div class="content" [ngStyle]="{ 'margin-left': sidebarHidden ? '0' : '20px' }">


    <div class="book-card">
      <h2>BOOKS</h2>
    </div>


    <div style="width: max-fill;">
      <mat-card class="b-1 shadow-none">
        <mat-card-header style="padding-bottom: 20px;">
          <mat-card-title>
            <div class="sort-header">
              
              <button class="filter-button" (click)="toggleSidebar()"><i
                class="fas fa-filter"></i> Filter</button>
            </div>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1" style="padding-top: 15px;">
          <mat-chip-listbox aria-label="Sort selection">
            <div class="f-s-14">Sort by: </div>

            <mat-chip-option class="f-s-14" (click)="sortBooks('newest')"
              [ngClass]="{'selected': sortingOption === 'newest', 'desc': !isSortOrderAscending}">
              Newest
            </mat-chip-option>
            <mat-chip-option class="f-s-14" (click)="sortBooks('oldest')" color="warn"
              [ngClass]="{'selected': sortingOption === 'oldest', 'desc': !isSortOrderAscending}">
              Oldest
            </mat-chip-option>

            <mat-chip-option class="f-s-14" (click)="sortBooks('price')"
              [ngClass]="{'selected': sortingOption === 'price', 'desc': !isSortOrderAscending}">
              Lowest Price
            </mat-chip-option>

            <mat-chip-option class="f-s-14" (click)="sortBooks('highestPrice')" color="warn"
              [ngClass]="{'selected': sortingOption === 'highestPrice', 'desc': !isSortOrderAscending}">
              Highest Price
            </mat-chip-option>

            <mat-chip-option class="f-s-14" (click)="sortBooks('review')"
              [ngClass]="{'selected': sortingOption === 'review', 'desc': !isSortOrderAscending}">
              Highest Review
            </mat-chip-option>
            <mat-chip-option class="f-s-14" (click)="sortBooks('lowestReview')" color="warn"
              [ngClass]="{'selected': sortingOption === 'lowestReview', 'desc': !isSortOrderAscending}">
              Lowest Review
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="no-books-message" *ngIf="!sortedBooks ">
      No books found.
    </div>

    <div class="row">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let book of sortedBooks">
    
        <mat-card class="cardWithShadow productcard overflow-hidden">
          <a (click)="openDetails(book.id)">
            <img class="book-image" [src]="'http://localhost:8080/api/v1/book/image/' + book.id" />
          </a>
          <mat-card-content class="p-b-24 p-t-12 position-relative">
            <!-- Show the "Out of Stock" message if book.quantity is 0 -->
            
    
            <button mat-mini-fab color="primary" class="icon-30 cart-btn" matTooltip="Add to Cart"
              (click)="addToCart(book.id)" [disabled]="book.quantity === 0" style="z-index: 3;">
              <i-tabler name="basket" class="icon-16" style="z-index: 3;"></i-tabler>
            </button>
            <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
              {{ book.name }}&nbsp; 
              <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12 ml-2" *ngIf="book.quantity === 0">
              
                Out of Stock
              </span>
              <span class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12 ml-2" *ngIf="book.quantity >= 1 && book.quantity <= 25">Limited Quantity</span>
              <h6 class="mat-body-2 f-w-200">{{ book.author }}</h6>
            </mat-card-title>
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h6 class="mat-body-2 f-w-600">{{ book.price }} TND</h6>
              </div>
              <div class="rating-stars">
                <ng-container>
                  
                  {{book.averageReview}}⭐
                </ng-container>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    
      </div>
    </div>
    
  </div>
</div>