.book-image {
  max-width: 100px;
  /* Adjust this value to your desired width */
  max-height: 100px;
  /* Adjust this value to your desired height */
}

.new-image {
  max-width: 60px;
  max-height: 60px;
  z-index: 999;
  position: absolute;
  top: 1px;
  right:1px;
  //transform: translate(50%, -50%);
}

.productcard {
  overflow: visible !important;
  
}

.rating-stars {
  display: inline-flex;
  gap: 2px;
  align-items: center;
}

.star-icon {
  font-size: 16px;
}

.star-icon::before {
  content: "\2605";
  /* Unicode character for star symbol */
}

.star-icon.filled {
  color: #f7ce47;
  /* Filled star color */
}

.star-icon.half-filled {
  position: relative;
  color: #f7ce47;
  /* Half-filled star color */
  clip-path: inset(0 calc(100% - 57% - 1px) 0 0);
  /* Clip the top half of the star */
}

.star-icon.empty {
  color: #000000;
  /* Empty star color */
}






.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6 {
  width: 50%;
  /* Adjust the column width as per your requirements */
}


@media (max-width: 768px) {

  /* Apply responsive styles for smaller screens */
  .sidebar {
    width: 100%;
    //position: static;
    /* Reset the position to static for smaller screens */
    margin-bottom: 20px;
    /* Add some spacing at the bottom of the sidebar */
  }

  .content {
    margin-left: 0;
  }

  .col-sm-6 {
    width: 100%;
  }
}




.search-bar {
  flex: 1;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 14px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #555;
}

.book-card {
  background-color: hsl(224, 100%, 68%);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.book-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}





.no-books-message {
  margin-top: 20px;
  font-size: 18px;
  color: #ff0000;
}

.bigHeader{
  height:95px;
  background-color: hsl(224, 100%, 68%);
  display: flex;
  align-items: center;
  position: fixed; /* Add this to fix the header at the top */
  top: 0; /* Place the fixed header at the top of the page */
  width: 100%; /* Make the header stretch the full width of the page */
  z-index: 2;

}


.carousel{
  position: relative;
  height :700px;
  background-color: #f3f3f3;
  margin-top: 95px;
  padding: 20px;
  z-index: -1;

}

.content {
  padding: 20px;
  background-color: #f3f3f3;
  flex: 1; /* Take up all available space in the flex container */
}

.sidebar {
 
  margin-left: 25px;
  //width: 200px; /* Set an initial width for the sidebar */
 
}

.body {
  position: relative;
  //padding: 5px;
  background-color: #f3f3f3;
  display: flex;
 // align-items: center;
}

.sidebar.hidden {
  display: none;
}


.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.carousel-caption h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
}

/////////////////////
.sort-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Places the toggle button on the far right */
}

.filter-button {
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto; /* Push the button to the right */
}

.filter-button i {
  /* Adjust the icon size if needed */
  font-size: 16px;
}

/* Import the FontAwesome icon library (Make sure you've included it in your project) */
@import '~@fortawesome/fontawesome-free/css/all.css';



.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.book-image-container {
  flex: 0 0 auto; /* Avoid image container to grow */
  margin-right: 10px; /* Add some space between the image and spans */
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align spans to the right */
}


.book-details span {
 width:110px;
 text-align: center;
}

/* Use flex: 1 on all spans to distribute space evenly */
.book-details span:first-child {
  flex: 1;
}


.cardBox {
  position: relative;
  width: 350px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
    padding: 50px;
    margin:10px;
    background-color: hsl(0, 0%, 0%);
}
.card {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #ffffff;
  border-radius: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  /*box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;*/
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
 // background: #40E0D0;
//background: -webkit-linear-gradient(to right, #FF0080, #008cff, #40E0D0);
//background: linear-gradient(to right, #FF0080, #008cff, #40E0D0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}
.cardBox.new-book::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40E0D0;
background: -webkit-linear-gradient(to right, #FF0080, #008cff, #40E0D0);
background: linear-gradient(to right, #FF4500, #FFA500, #FFD700);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add this CSS at the end of your component's CSS styles */
/* Chat Bubble */
.chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  z-index: 50;
}

////////////
/// /* Position the toastr container at the top right corner */
