<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  

  <span class="flex-1-auto"></span>

 
  
  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <span *ngIf="username" class="ml-2">Hello, {{username }}</span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
 
    <img
      src="/assets/images/profile/user-1.jpg"
      class="rounded-circle object-cover"
      width="35"
    />
    
  </button>
 <!-- --------------------------------------------------------------- -->
  <!-- CART -->
  <!-- --------------------------------------------------------------- -->
  <ng-container [ngSwitch]="role">
    <span *ngSwitchCase="'USER'">
      <button mat-icon-button aria-label="Notifications" (click)="openCart()">
        <i-tabler
          class="d-flex"
          name="shopping-cart"
          matBadge={{sum}}
          matBadgeColor="warn"
        ></i-tabler>
      </button>
    </span>
  </ng-container>
  
  <!-- --------------------------------------------------------------- -->
  <!-- CART -->
  <!-- --------------------------------------------------------------- -->

  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="question-mark" class="icon-18 d-flex"></i-tabler></mat-icon
      >Placeholder
    </button>
   <ng-container [ngSwitch]="role">
    <span *ngSwitchCase="'USER'">
      <button mat-menu-item (click)="openHistory()">
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
        >Order History
      </button>
    </span>
  </ng-container>

    <div class="p-x-12 m-t-12">
      <a
        [routerLink]="['/authentication/login']"
        (click)="logout()"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>



