.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
  overflow: hidden; /* Add this line to hide the scroll bar */
  color: #ffffff;
  background-color: hsl(224, 100%, 68%);;
}
  
  
  form {
    max-width: 500px;
    height: 620px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .form-field label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333; /* You can adjust the color */
  }
  
  .form-field input,
  .form-field textarea,
  .form-field select {
    padding: 10px;
    border: 1px solid #ddd; /* You can adjust the border color */
    border-radius: 4px;
    font-size: 16px;
    color: #333; /* You can adjust the text color */
    transition: border-color 0.3s ease;
  }
  
  .form-field input:focus,
  .form-field textarea:focus,
  .form-field select:focus {
    outline: none;
    border-color: hsl(224, 100%, 68%);; /* Highlight color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional focus shadow */
  }
  
  .form-field textarea {
    resize: vertical;
  }
  
  .form-field select {
    appearance: none;
    background: transparent;
    background-image: url('/assets/images/logos/arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-right: 25px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 5px;
  }
  
  button.close-button {
    display: block;
    margin: 0 auto;
  }
  
  .flash-red {
    animation: flash-red-animation 1s infinite;
  }
  
  @keyframes flash-red-animation {
    0%, 50% {
      color: black;
    }
    51%, 100% {
      color: red;
    }
  }
   .form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .form-field label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333; /* You can adjust the color */
  }
  
  .form-field input,
  .form-field textarea,
  .form-field select {
    padding: 10px;
    border: 1px solid #ddd; /* You can adjust the border color */
    border-radius: 4px;
    font-size: 16px;
    color: #333; /* You can adjust the text color */
    transition: border-color 0.3s ease;
  }
  
  .form-field input:focus,
  .form-field textarea:focus,
  .form-field select:focus {
    outline: none;
    border-color: hsl(224, 100%, 68%);; /* Highlight color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional focus shadow */
  }
  
  .form-field textarea {
    resize: vertical;
  }
  
  .form-field select {
    appearance: none;
    background: transparent;
    background-image: url('/assets/images/logos/arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-right: 25px;
  }
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(224, 100%, 68%);;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }